node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist
build
.next
.contentlayer

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
*.pem

# Editor folders
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VDS / Antigravity
.gemini
brain
